<html>

<head>

<meta charset="UTF-8">


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>

<style>
.myChartdiv {
	background-color: #3c4c66;
	border-width: 50;
	padding: 20;
	border-radius: 10px;
	border-color: darkblue;
	/* height: 400px; */;
}

body {
	background-color: #2b313d;
}
</style>
<div class="container">
    <div class="row" style="background-color: #374256">
        <div class="col mx-auto" >
            <div class="myChartdiv" >
				<canvas id="myChart"></canvas>
			</div>
        </div>
    </div>
</div>
<body>

</body>
<script>
	var inflationLabels = '';
	var inflationBRAData = '';
	var inflationWLDData = '';

	$.ajax({
		type : 'GET',
		url : 'http://localhost:8082/getInflationARG',
		dataType : 'json',
		processData : false,
		success : function(resp) {
			//   console.log(resp);
			inflationWLDData = resp;
		},
	})

	$.ajax({
		type : 'GET',
		url : 'http://localhost:8082/getInflationYear',
		dataType : 'json',
		processData : false,
		success : function(resp) {
			//   console.log(resp);
			inflationLabels = resp;
		},
	})

	$.ajax({
		type : 'GET',
		url : 'http://localhost:8082/getInflationBRA',
		dataType : 'json',
		processData : false,
		success : function(resp) {
			inflationBRAData = resp;
		},
		complete : function() {
			buildChart();
		}
	})

	function buildChart() {

		const data1 = {
			labels : inflationLabels,
			datasets : [ {
				type : 'line',
				label : 'Inflação Argentina',
				borderColor : 'white',
				data : inflationWLDData,
				tension : 0.3
			}, {
				type : 'line',
				label : 'Inflação Brasil',
				borderColor : 'yellow',
				data : inflationBRAData,
				tension : 0.3
			},

			]
		};

		const config = {
			data : data1,
			options : {
				plugins : {
					legend : {
						labels : {
							color : "white",
							font : {
								size : 18,
							},
						},
					},
				},

				scales : {
					y : {
						ticks : {
							color : "white",
						},
					},
					x : {
						ticks : {
							color : "white",
						},
					},
				},
			},
		}

		var myChart = new Chart(document.getElementById('myChart'), config);

	}
</script>



</html>