<html>

<head>

<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>

<style>
.myChartdiv {
	background-color: #3c4c66;
	border-width: 50;
	padding: 20;
	border-radius: 10px;
	border-color: darkblue;
}

</style>

<div>
	<canvas id="myChart"></canvas>
</div>

<script>
	var inflationLabels = [];
	var inflationBRAData = [];

	$.ajax({
		type : 'GET',
		url : 'http://localhost:8082/kpi/getInflationKPIData',
		dataType : 'json',
		processData : false,
		success : function(resp) {

			Object.keys(resp).forEach(function(a, index) {
				console.log(resp[a].year);
				inflationLabels.push(resp[a].year);
				inflationBRAData.push(resp[a].inflation)
			});

			buildChart();
		},
	})

	function buildChart() {

		const data1 = {
			labels : inflationLabels,
			datasets : [ {
				type : 'bar',
				label : 'Inflação Brasil',
				backgroundColor : 'yellow',
				data : inflationBRAData,
			},

			]
		};

		const config = {
			data : data1,
			options : {
				plugins : {
					legend : {
						labels : {
							color : "white",
							font : {
								size : 18,
							},
						},
					},
				},

				scales : {
					y : {
						ticks : {
							color : "white",
						},
					},
					x : {
						ticks : {
							color : "white",
						},
					},
				},
			},
		}

		var myChart = new Chart(document.getElementById('myChart'), config);

	}
</script>

</html>